@import "https://www.nerdfonts.com/assets/css/webfont.css";

html,
body {
  height: 100%;
}

body {
  color: #ffffffff;
  font-family: "IosevkaTerm Nerd Font Propo", ui-monospace, monospace;
  font-size: 12px;
  overflow: hidden;
  margin-right: 8px;
  margin-left: 8px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#root {
  background: rgb(36 40 59 / 75%);
  border-radius: 10px;
  height: 40px;
}

i {
  font-size: 10px;
}

.app {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(50px, 100%), 1fr));
  align-items: center;
  height: 100%;
  padding: 0px 1vw;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
  gap: 4px;
  max-width: 100%;
  /* overflow: hidden; */
}

.left {
  justify-content: flex-start;
  flex-flow: column nowrap;
  gap: 4px;
}

.left > div {
  width: 100%;
  height: 12px;
}

.center {
  justify-content: center;
  z-index: 100;
  pointer-events: none;
}

.right {
  justify-content: flex-end;
}

.chip {
  padding: 4px 6px;
  border-radius: 4px;
  background: #292e42;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex: 0 0 auto;
  gap: 1px;
  z-index: 10;
  /* color: #292e42; */
  /* font-weight: bold; */
}

.chip-text {
  display: flex;
  align-items: center;
  gap: 2px;
  flex-wrap: nowrap;
  overflow: hidden;
  white-space: nowrap;
  max-width: 144px;
  /* color: #292e42; */
  /* font-weight: bold; */
}

.systray-icon {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: rgb(255 255 255 / 100%);
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

/* https://danielstern.ca/range.css/#/ */
input[type="range"] {
  width: 100%;
  margin: 3px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #e0af68;
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 2px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -3px;
  width: 8px;
  height: 8px;
  background: #ffffff;
  border: 0;
  border-radius: 16px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #e4ba7d;
}
input[type="range"]::-moz-range-track {
  background: #e0af68;
  border: 0;
  border-radius: 25px;
  width: 100%;
  height: 2px;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 8px;
  height: 8px;
  background: #ffffff;
  border: 0;
  border-radius: 16px;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 4px 0;
  color: transparent;
  width: 100%;
  height: 2px;
  cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
  background: #dca453;
  border: 0;
  border-radius: 50px;
}
input[type="range"]::-ms-fill-upper {
  background: #e0af68;
  border: 0;
  border-radius: 50px;
}
input[type="range"]::-ms-thumb {
  width: 8px;
  height: 8px;
  background: #ffffff;
  border: 0;
  border-radius: 16px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type="range"]:focus::-ms-fill-lower {
  background: #e0af68;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #e4ba7d;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align: auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type="range"] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

.media-pill-container {
  anchor-name: --anchormedia;
}

.media-container {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 auto;
}

.media-popup {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 36px;
  padding: 8px;
  /* background: rgb(36 40 59 / 30%); */
  background: rgb(41 46 66 / 80%);
  gap: 4px;
  border: 1px solid #ffffffff;
  border-radius: 8px;
  backdrop-filter: blur(16px);
}

.media-popup-container {
  display: block;
  position: absolute;
  position-anchor: --anchormedia;
  top: anchor(top);
  right: anchor(right);
  max-height: 0px;
  /* min-width: 256px; */
  /* max-width: 384px; */
  opacity: 0;
  transition: max-height 0.25s ease 0.1s, opacity 0.25s ease 0.1s;
  background-color: transparent;
  pointer-events: none;
}

.media-container:hover .media-popup-container {
  opacity: 1;
  max-height: 100%;
  pointer-events: auto;
  transition: max-height 0.25s ease 0.5s, opacity 0.25s ease 0.5s;
}

.media-progress,
.media-control {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 4px 4px;
}

.audio-container {
  transition: all 0.25s ease;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.audio-slider {
  width: 96px;
  margin: 0px;
}

.audio-slider-container {
  width: 0px;
  overflow: hidden;
  transition: width 0.25s ease, margin-left 0.25s ease;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 0px;
}

.audio-container:hover .audio-slider-container {
  width: 96px;
  margin-left: 2px;
  flex-grow: 2 !important;
}

.wm-container {
  display: flex;
  flex-flow: row nowrap;
  font-size: 8px !important;
  gap: 4px;
  i {
    font-size: 6px !important;
  }
}

.wm-container > div {
  padding: 0px 0px !important;
}
.wm-container i {
  color: #292e42;
  margin-top: 1px;
  font-weight: bold;
}

.workspaces {
  background-color: transparent !important;
  gap: 4px !important;
  padding: 0px 0px !important;
}

.workspace-title {
  max-width: 100%;
  min-width: 0;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  white-space: nowrap;
}

.workspace {
  background: rgb(255 255 255 / 5%);
  padding: 1px 4px;
  color: rgb(255 255 255 / 90%);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;

  &.displayed {
    background: #9ece6a !important;
    color: #292e42;
  }

  &:hover {
    background: #545c7e;
  }
}

/* https://tympanus.net/codrops/2020/03/31/css-only-marquee-effect/ */
.marquee {
  position: relative;
  overflow: hidden;
  --offset: 0vw;
  /* --move-initial: calc(-25% + var(--offset)); */
  --move-initial: calc(0% + var(--offset));
  --move-final: calc(-25% + var(--offset));
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 7.5s linear infinite;
  animation-play-state: paused;
}

.marquee span {
  padding-right: 2vw;
}

.marquee:hover .marquee__inner {
  animation-play-state: running;
}

.marquee:not(:hover) .marquee__inner {
  animation: none; /* stop animation */
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
